{% extends "siteApp/base.html" %}



{% import "commonApp/comments.html" as comments %}



{% block extraScripts %}{{ comments.script() }}{% endblock %}

{% block pageName %}about_me{% endblock %}
{% block title %}{{ _('About Me') }} | {{ super() }}{% endblock %}



{% block content %}
	<article>
		<h2>{{ _('Hi there!') }}</h2>
		<p>
			{{ _('I\'m Marcelo Vaz, a DevOps engineer from Brazil.') }}
		</p>
		
		<h3>{{ _('Skills') }}</h3>
		<p>
			{{ _('Python | Django | OOP | Amazon Web Services | GitLab CI/CD | Linux | Shell Scripting | Docker | Terraform') }}
		</p>
		
		<h3>{{ _('You can find me on:') }}</h3>
		<ul>
			<li><a href="https://vazprojects.com">VAZ Projects</a></li>
			<li><a href="https://gitlab.com/marcelotsvaz">GitLab</a></li>
			<li><a href="https://github.com/Marcelotsvaz">GitHub</a></li>
			<li><a href="https://stackoverflow.com/users/5283604/marcelotsvaz">Stack Overflow</a></li>
			<li><a href="https://www.codewars.com/users/Marcelotsvaz">Codewars</a></li>
		</ul>
		
		<h3>{{ _('Contact') }}</h3>
		<ul>
			<li><a href="mailto:?to=Marcelo Vaz <marcelotsvaz@gmail.com>">marcelotsvaz@gmail.com</a></li>
		</ul>
	</article>
	
	{{ comments.section( request.path, self.title(), request.build_absolute_uri() ) }}
{% endblock %}